.cuerpo{
  height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: cornflowerblue;
    background-image: url("../templates/logofinal.png");
    background-size: 50%;
      background-repeat: no-repeat;
      background-position: 25px;
      background-position-x: center;
    justify-content: space-evenly;
}
html, body{
    height: 92.9%;
}
img, #linea2 > a, #linea1 > a{
    height: 30px;
    width: 30px;
    transition: width 0.2s, height 0.2s;

}
#linea1, #linea2{
    display: flex;

}
#linea1{
    padding-top: 50px;
}
#linea2 > a > img:hover, #linea2 > a:hover, #linea1 > a > img:hover, #linea1 > a:hover{
    height: 55px;
    width: 55px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }